{%- assign background = page.header | default: site.header | default: "none" -%}
{%- if background == "none" -%}
  {%- assign background = nil -%}
{%- endif -%}

{%- assign dark = page.header-dark -%}
{%- if dark == nil -%}
  {%- assign dark = site.header-dark -%}
{%- endif -%}
{%- if dark == nil -%}
  {%- assign dark = true -%}
{%- endif -%}

{%- assign title = site.logo-text -%}
{%- if title == nil -%}
  {%- assign title = site.title -%}
{%- endif -%}

{%- assign subtitle = site.logo-subtext -%}
{%- if subtitle == nil -%}
  {%- assign subtitle = site.subtitle -%}
{%- endif -%}

<link rel="stylesheet" href="/css/subnav.css">
<link rel="stylesheet" href="/css/subnav_research.css">
<script>
  function redirectToResearch() {
    window.location.href = '/research/index.html';
  }
</script>


<header {% if background %}class="background"{% endif %} {% if background %}style="--background: url('{{ background | relative_url }}')"{% endif %} data-dark="{{ dark }}">
  <a
    href="{{ '/' | relative_url }}"
    class="logo_row"
    data-tooltip="Home"
  >
    <!-- <img src="{{ site.logo | relative_url }}" class="logo" /> -->
    {% if title and title != "" %}
    <div class="animate__animated animate__headShake" style="font-size: 1.6vw; font-weight: 500;">&nbsp {{ title }}</div>
    {% endif %}
    {% if subtitle and subtitle != "" %}
    <div class="animate__animated animate__headShake" style="font-size: 0.8vw; font-weight: 400;">&nbsp {{ subtitle }}</div>
    {% endif %}
  </a>

  {%- assign pages = site.pages | where_exp: "page", "page.nav" | sort: "nav.order" -%}
  <div class="navbar">
    <a href="{{ '/' | relative_url }}"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
    <!-- <a href="https://youtube.com/@HARCOLAB?si=Rfsy8015JEwoklbW"><i class="fab fa-youtube"></i> YouTube</a> -->
    <!-- <a href="/publication/index.html"><i class="fas fa-inbox"></i> Publications</a> -->
    <!-- <a href="/contact/index.html"><i class="fas fa-envelope"></i> Contact</a> -->
    <a href="/team/index.html"><i class="fas fa-user-friends"></i> Members</a>
  </div>

</header>




